<!DOCTYPE html>
<html>
<head>
  <title>欢迎来到我的主页</title>
</head>
<body>
<h1>Welcome to my first ror webApp</h1>
<p>come on, go,every view, you will find a new page!</p>
</body>

<p><%= link_to 'My Blog', controller: 'articles' %>
</html>
